---
# Install and configure UFW firewall

- name: Install UFW
  ansible.builtin.apt:
    name: ufw
    state: present

- name: Set UFW default incoming policy to deny
  community.general.ufw:
    direction: incoming
    default: "{{ media_services_ufw_default_incoming }}"

- name: Set UFW default outgoing policy to allow
  community.general.ufw:
    direction: outgoing
    default: "{{ media_services_ufw_default_outgoing }}"

- name: Allow SSH through UFW
  community.general.ufw:
    rule: allow
    port: "{{ media_services_ssh_port }}"
    proto: tcp
    comment: "SSH"

- name: Allow Prowlarr port through UFW
  community.general.ufw:
    rule: allow
    port: "{{ media_services_prowlarr_port }}"
    proto: tcp
    comment: "Prowlarr"

- name: Allow Sonarr port through UFW
  community.general.ufw:
    rule: allow
    port: "{{ media_services_sonarr_port }}"
    proto: tcp
    comment: "Sonarr"

- name: Allow Radarr port through UFW
  community.general.ufw:
    rule: allow
    port: "{{ media_services_radarr_port }}"
    proto: tcp
    comment: "Radarr"

- name: Allow SABnzbd port through UFW
  community.general.ufw:
    rule: allow
    port: "{{ media_services_sabnzbd_port }}"
    proto: tcp
    comment: "SABnzbd"

- name: Allow Umlautadaptarr port through UFW
  community.general.ufw:
    rule: allow
    port: "{{ media_services_umlautadaptarr_port }}"
    proto: tcp
    comment: "Umlautadaptarr"

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Check UFW status
  ansible.builtin.command:
    cmd: ufw status verbose
  register: ufw_status
  changed_when: false

- name: Display UFW status
  ansible.builtin.debug:
    msg: "{{ ufw_status.stdout_lines }}"
