---
# Proxmox host configuration

- name: Configure Proxmox hosts
  hosts: proxmox
  become: true

  pre_tasks:
    - name: Write deploy key to temp file
      ansible.builtin.copy:
        content: "{{ vault_ansible_deploy_private_key }}"
        dest: /tmp/.ansible_deploy_key
        mode: "0600"
      delegate_to: localhost
      become: false
      run_once: true
      no_log: true
      tags: always

  roles:
    - role: proxmox_repos
      tags:
        - repos
        - apt

    - role: common
      tags:
        - common
        - always

    - role: power_management
      tags:
        - power

    - role: ups
      tags:
        - ups
        - nut

    - role: adguard_lxc
      tags:
        - adguard
        - lxc
        - containers

    - role: homeassistant_vm
      tags:
        - homeassistant
        - haos
        - vm

    - role: reverse_proxy_lxc
      tags:
        - reverse_proxy
        - nginx
        - lxc
        - containers

    - role: local_services_vm
      tags:
        - local_services
        - docker
        - lxc
        - containers

    - role: glances
      tags:
        - glances
        - monitoring
