---
# Proxmox host configuration

- name: Configure Proxmox hosts
  hosts: proxmox
  become: true
  gather_facts: false  # Defer until deploy key exists

  pre_tasks:
    - name: Write deploy key to temp file
      ansible.builtin.copy:
        content: "{{ vault_ansible_deploy_private_key }}"
        dest: /tmp/.ansible_deploy_key
        mode: "0600"
      delegate_to: localhost
      become: false
      run_once: true
      no_log: true
      tags: always

    - name: Gather facts after deploy key is ready
      ansible.builtin.setup:
      tags: always

  roles:
    # Proxmox host roles
    - role: proxmox_root/proxmox_repos
      tags:
        - repos
        - apt

    - role: proxmox_root/common
      tags:
        - common
        - always

    - role: proxmox_root/power_management
      tags:
        - power

    - role: proxmox_root/ups
      tags:
        - ups
        - nut

    - role: proxmox_root/glances
      tags:
        - glances
        - monitoring

    - role: proxmox_root/rasdaemon
      tags:
        - rasdaemon
        - ecc
        - monitoring

    # LXC/VM roles
    - role: adguard_lxc
      tags:
        - adguard
        - lxc
        - containers

    - role: homeassistant_vm
      tags:
        - homeassistant
        - haos
        - vm

    - role: reverse_proxy_lxc
      tags:
        - reverse_proxy
        - nginx
        - lxc
        - containers

    - role: proxmox_root/nfs_server
      tags:
        - nfs
        - storage
        - media

    - role: local_services_vm
      tags:
        - local_services
        - docker
        - lxc
        - containers

    - role: jellyfin_lxc
      tags:
        - jellyfin
        - media
        - lxc
        - containers

    - role: media_services_vm
      tags:
        - media_services
        - arr
        - docker
        - vm

  post_tasks:
    - name: Remove deploy key from temp
      ansible.builtin.file:
        path: /tmp/.ansible_deploy_key
        state: absent
      delegate_to: localhost
      become: false
      run_once: true
      tags: always
